* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.project-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 820px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin-top: 32px;
  color: #fff;
  font-size: 44px;
}

h2 {
  margin-bottom: 32px;
  color: #fff;
  font-size: 18px;
}

.name-form {
  margin-bottom: 32px;
}

.name-input, .description-input, .email-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 420px;
  background: transparent;
  color: #fff;
}

.tag-box {
  margin: 0 auto;
  width: 420px;
}

.student-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
}

.student-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(0, 58, 182) 0%,
    rgb(0, 61, 192) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.row-name, .row-email, .row-desc, .row-tag {
  width: 49%;
  box-sizing: border-box;
}

.row-name {
  font-size: 34px;
  color: #ffffff;
}

.row-desc {
  font-size: 12px;
}

.row-email {
  word-wrap: break-word;
}

.student-row:nth-child(2n + 1) {
  background: linear-gradient(
    90deg,
    rgb(0, 81, 255) 0%,
    rgb(0, 79, 250) 100%
  );
}